{% extends "ecommerce/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}RÉINITIALISATION DU MOT DE PASSE{% endblock %}

{% block content %}
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">

            <nav class="woocommerce-breadcrumb"><a href="{% url 'ecommerce:home' %}">Acceuil</a><span class="delimiter"><i
                    class="fa fa-angle-right"></i></span>Mon Compte
            </nav><!-- .woocommerce-breadcrumb -->

            <div class="content-area">
                <main id="main" class="site-main">

                    {% include 'ecommerce/messages.html' %}

                    <article id="post-8" class="hentry">

                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="customer-login-form">


                                    <h2 style="font-size: 2.7em;margin-bottom: 1em;" >Réinitialisation du mot de passe envoyé</h2>


                                    <div class="body-text m-b-3">
                                        Nous vous avons envoyé par courriel les instructions pour changer de mot de
                                        passe, pour autant qu'un compte existe avec l'adresse que vous avez
                                        indiquée.
                                        Vous devriez recevoir rapidement ce message.
                                        <br>
                                        Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse
                                        avec
                                        laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.
                                    </div>


                                </div><!-- /.customer-login-form -->
                            </div><!-- .woocommerce -->
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div><!-- .col-full -->
    </div><!-- #content -->
{% endblock %}
