{% extends 'ecommerce/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}RÉINITIALISATION DU MOT DE PASSE{% endblock %}

{% block content %}

    <div id="content" class="site-content" tabindex="-1">
        <div class="container">

            <nav class="woocommerce-breadcrumb"><a href="{% url 'ecommerce:home' %}">Acceuil</a><span class="delimiter"><i
                    class="fa fa-angle-right"></i></span>Mon Compte
            </nav><!-- .woocommerce-breadcrumb -->

            <div class="content-area">
                <main id="main" class="site-main">

                    {% include 'ecommerce/messages.html' %}

                    <article id="post-8" class="hentry">

                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="customer-login-form">


                                    <h2>Réinitialisation mot de passe</h2>

                                    {% if validlink %}
                                        <form method="post" class="login">
                                            {% csrf_token %}

                                            <p class="before-login-text">Saisir votre nouveau mot de passe
                                                d'identification:</p>

                                            <p class="form-row form-row-wide">
                                                <label for="username">Nouveau mot de passe: <span
                                                        class="required">*</span></label>
                                                {% if form.new_password1.errors %}
                                                    {% render_field form.new_password1 class='form-control' placeholder='Nouveau mot de passe' style='border: 1px solid red' %}
                                                {% else %}
                                                    {% render_field form.new_password1 class='form-control' placeholder='Nouveau mot de passe' %}
                                                {% endif %}
                                                {% for error in form.new_password1.errors %}
                                                    <small class="form-text text-muted text-danger"
                                                           id="news_letter_helper" style="">
                                                        <i class="fas fa-exclamation-triangle"></i> {{ error }}<br>
                                                    </small>
                                                {% endfor %}
                                            </p>

                                            <p class="form-row form-row-wide">
                                                <label for="username">Confirmer votre nouveau mot de passe: <span
                                                        class="required">*</span></label>
                                                {% if form.new_password2.errors %}
                                                    {% render_field form.new_password2 class='form-control' placeholder='Confirmer votre mot de passe' style='border: 1px solid red' %}
                                                {% else %}
                                                    {% render_field form.new_password2 class='form-control' placeholder='Confirmer vot mot de passe' %}
                                                {% endif %}
                                                {% for error in form.new_password2.errors %}
                                                    <small class="form-text text-muted text-danger"
                                                           id="news_letter_helper" style="">
                                                        <i class="fas fa-exclamation-triangle"></i> {{ error }}<br>
                                                    </small>
                                                {% endfor %}
                                            </p>

                                            <p class="form-row">
                                                <button class="button" type="submit"><i class="fas fa-edit"></i> Changer le mot de passe
                                                </button>
                                            </p>


                                        </form>
                                    {% else %}
                                        <div class="body-text m-b-3">
                                            Ce lien déja utilisé, veuillez demander un autre lien de
                                            réinitialisation de votre mot de passe. <a class="font-weight-bold" href="{% url 'ecommerce:password_reset' %}">Demander une réinitialisation</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>

{% endblock %}
