{% extends "ecommerce/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}RÉINITIALISATION DU MOT DE PASSE{% endblock %}

{% block content %}
    <div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" ><a href="{% url 'ecommerce:home' %}" >Acceuil</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Mon Compte</nav><!-- .woocommerce-breadcrumb -->

                    <div class="content-area">
                        <main id="main" class="site-main">

                    {% include 'ecommerce/messages.html' %}

                            <article id="post-8" class="hentry">

                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <div class="customer-login-form">





                                                    <h2>Réinitialisation mot de passe</h2>

                                                    <form method="post" class="login">
                                                        {% csrf_token %}

                                                        <p class="before-login-text">Saisir votre adresse email</p>

                                                        <p class="form-row form-row-wide">
                                                            <label for="username">Email: <span class="required">*</span></label>
                                                            {% render_field form_reset_password.email class='form-control' placeholder='Votre adresse email pour recevoir le lien de rénitialisation' %}
                                                        </p>

                                                        <p class="form-row">
                                                            <button class="button" type="submit"><i class="fas fa-sign-in-alt"></i> M'envoyer l'email de réinitialisation</button>
                                                        </p>


                                                    </form>





                                        </div><!-- /.customer-login-form -->
                                    </div><!-- .woocommerce -->
                                </div><!-- .entry-content -->

                            </article><!-- #post-## -->

                        </main><!-- #main -->
                    </div><!-- #primary -->

                </div><!-- .col-full -->
            </div><!-- #content -->
{% endblock %}
