{% extends "ecommerce/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}RÉINITIALISATION DU MOT DE PASSE{% endblock %}

{% block content %}
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">

            <nav class="woocommerce-breadcrumb"><a href="{% url 'ecommerce:home' %}">Acceuil</a><span class="delimiter"><i
                    class="fa fa-angle-right"></i></span>Mon Compte
            </nav><!-- .woocommerce-breadcrumb -->

            <div class="content-area">
                <main id="main" class="site-main">

                    {% include 'ecommerce/messages.html' %}

                    <article id="post-8" class="hentry">

                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="customer-login-form">


                                    <h2 style="font-size: 2.7em; margin-bottom: 1em;" >Réinitialisation du mot de passe a été effectuée avec succé</h2>


                                    <div class="body-text m-b-3">
                                        Votre mot de passe à été réinitialisé avec succé. Vous pouvez maintenant accéder à votre compte avec les nouveaux cordonnées. <a class="font-weight-bold" href="{% url 'ecommerce:login' %}">Se connecter</a>
                                    </div>


                                </div><!-- /.customer-login-form -->
                            </div><!-- .woocommerce -->
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div><!-- .col-full -->
    </div><!-- #content -->
{% endblock %}
