-f /usr/share/pip-wheels
alabaster==0.7.9
alembic==0.8.10
aniso8601==1.2.0
appdirs==1.4.2
async==0.6.2
Babel==2.3.4
backports.ssl==0.0.9
basemap==1.0.7
bcolz==0.12.1
bcrypt==3.1.3
beautifulsoup4==4.5.3
bleach==1.5.0
blinker==1.4
boto==2.46.1
bottle==0.12.13
Bottleneck==1.2.0
bottlenose==1.1.2
BTrees==4.4.1
bz2file==0.98
cachetools==2.0.0
cairocffi==0.8.0
CairoSVG==2.0.1
cffi==1.9.1
Chameleon==3.1
chardet==2.3.0
cheroot==5.2.0
CherryPy==10.1.1
click==6.7
click-plugins==1.0.3
cligj==0.4.0
configobj==5.0.6
contextlib2==0.5.4
CoolProp==6.0.0
coverage==4.3.4
cryptography==1.7.2
cssselect==1.0.1
cvxopt==1.1.8
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.25.2
dask==0.14.0
dataset==0.8.0
decorator==4.0.11
dectate==0.13
Django==1.11b1
django-blog-zinnia==0.18.1
django-bootstrap-form==3.2.1
django-classy-tags==0.8.0
django-cms==3.4.2
django-contrib-comments==1.8.0
django-formtools==2.0
django-mptt==0.8.7
django-object-tools==1.9
django-sekizai==0.10.0
django-tagging==0.4.5
django-treebeard==4.1.0
django-xmlrpc==0.1.7
djangocms-admin-style==1.2.6.2
docopt==0.6.2
docutils==0.13.1
dominate==2.3.1
EasyProcess==0.2.3
empyrical==0.2.2
entrypoints==0.2.2
et-xmlfile==1.0.1
falcon==1.1.0
feedgenerator==1.9
feedparser==5.2.1
filebrowser-safe==0.4.6
Fiona==1.7.4
Flask==0.12
Flask-Admin==1.4.2
Flask-Babel==0.11.1
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.2
Flask-Login==0.4.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
future==0.16.0
Genshi==0.7
gensim==1.0.0
geopy==1.11.0
gevent==1.2.1
gitdb==0.6.4
gitdb2==2.0.0
GitPython==2.1.1
gmpy==1.17
google-api-python-client==1.6.2
grappelli-safe==0.4.5
greenlet==0.4.12
grokcore.component==2.7
html5lib==0.9999999
http-parser==0.8.3
httplib2==0.10.3
hupper==0.4.2
idna==2.2
imagesize==0.7.1
IMAPClient==1.0.2
importscan==0.1
inflection==0.3.1
intervaltree==2.1.0
ipykernel==4.5.2
ipyparallel==5.0.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
isodate==0.5.4
itsdangerous==0.24
jdcal==1.3
jellyfish==0.5.6
Jinja2==2.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Logbook==1.0.0
lxml==3.7.3
Mako==1.0.6
marisa-trie==0.7.2
Markdown==2.6.8
MarkupSafe==0.23
martian==0.15
matplotlib==2.0.0
mechanize==0.2.5
Mezzanine==4.2.2
mimerender==0.6.0
mistune==0.7.3
mlpy==3.5.0
mock==2.0.0
more-itertools==2.5.0
morepath==0.17
mots-vides==2015.5.11
mpmath==0.19
multipledispatch==0.4.9
munch==2.1.0
mysql-connector-python==2.0.4
mysqlclient==1.3.10
nbconvert==5.1.1
nbformat==4.3.0
ndg-httpsclient==0.4.2
netCDF4==1.2.7
netifaces==0.10.5
networkx==1.11
nltk==3.2.2
normality==0.4.0
nose==1.3.7
notebook==4.2.2
numexpr==2.6.2
numpy==1.12.0
oauth2client==4.0.0
oauthlib==2.0.1
olefile==0.44
openpyxl==2.4.4
ordereddict==1.1
packaging==16.8
pandas==0.19.2
pandas-datareader==0.3.0.post0
pandocfilters==1.4.1
paramiko==2.1.2
Paste==2.0.3
PasteDeploy==1.5.2
patsy==0.4.1
pbr==1.10.0
peewee==2.8.8
pelican==3.7.1
pep8==1.7.0
persistent==4.2.2
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
Pint==0.7.2
plotly==2.0.2
portend==1.8
praw==4.4.0
prawcore==0.8.0
prettytable==0.7.2
prompt-toolkit==1.0.13
protobuf==3.2.0
psutil==5.1.3
psycopg2==2.6.2
ptyprocess==0.5.1
pudb==2017.1.1
py-bcrypt==0.4
py2neo==3.1.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyDatalog==0.17.1
pydub==0.18.0
pyenchant==1.6.8
pyfits==3.4
pyflakes==1.5.0
pyflakes3k==0.4.3
pygal==2.3.1
pygeoip==0.3.2
Pygments==2.2.0
pygobject==3.12.0
Pykka==1.2.1
pymc==2.3.6
pymongo==3.4.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
Pyphen==0.9.4
pyquery==1.2.17
pyramid==1.8.2
pyserial==3.2.1
PySocks==1.6.6
pyspotify==2.0.5
PyStemmer==1.3.0
pytesseract==0.1.6
python-amazon-simple-product-api==2.1.0
python-apt===0.9.3.5ubuntu2
python-dateutil==2.6.0
python-editor==1.0.3
python-Levenshtein==0.12.0
python-magic==0.4.12
python-mimeparse==1.6.0
python-slugify==1.2.1
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
qrcode==5.3
qtconsole==4.2.1
Quandl==3.0.1
rdflib==4.2.2
redis==2.10.5
reg==0.11
regex==2017.2.8
repoze.lru==0.6
requests==2.13.0
requests-cache==0.4.13
requests-file==1.4.1
requests-ftp==0.3.1
requests-oauthlib==0.8.0
rsa==3.4.2
ruffus==2.6.3
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
selenium==3.0.2
setproctitle==1.1.10
Shapely==1.5.17
simplegeneric==0.8.1
simplejson==3.10.0
simpy==3.0.10
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.4.0
smmap==0.9.0
smmap2==2.0.1
snowballstemmer==1.2.1
socketpool==0.5.3
sockjs-tornado==1.0.3
SocksiPy-branch==1.1
sortedcontainers==1.5.7
South==1.0.2
SPARQLWrapper==1.8.0
Sphinx==1.5.3
splinter==0.7.5
SQLAlchemy==1.1.5
statsmodels==0.8.0
stevedore==1.20.0
stripe==1.48.1
sympy==1.0
TA-Lib==0.4.10
tables==3.3.0
Tempita==0.5.2
tempora==1.6.1
tensorflow==1.0.0
terminado==0.6
testpath==0.3
textblob==0.11.1
tinycss==0.4
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.2
transaction==2.1.0
translationstring==1.3
tweepy==3.5.0
twilio==5.7.0
twitter==1.17.1
tzlocal==1.3
unattended-upgrades==0.1
uncertainties==3.0.1
Unidecode==0.4.20
update-checker==0.16
uritemplate==3.0.0
urllib3==1.20
urwid==1.3.1
venusian==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
visitor==0.1.3
w3lib==1.17.0
waitress==1.0.2
Wand==0.4.4
wcwidth==0.1.7
WeasyPrint==0.36
WebOb==1.7.1
WebTest==2.0.25
Werkzeug==0.11.15
wheezy.caching==0.1.114
wheezy.core==0.1.140
wheezy.html==0.1.147
wheezy.http==0.1.344
wheezy.routing==0.1.157
wheezy.security==0.1.64
wheezy.template==0.1.167
wheezy.validation==0.1.135
wheezy.web==0.1.485
Whoosh==2.7.4
widgetsnbextension==1.2.6
WSGIProxy2==0.4.3
WTForms==2.1
xlrd==1.0.0
xlwt==1.2.0
z3c.pt==3.0
zc.buildout==2.8.0
zc.lockfile==1.2.1
ZConfig==3.1.0
zdaemon==4.2.0
ZEO==5.0.4
zipline==1.0.2
ZODB==5.2.0
ZODB3==3.11.0
zodbpickle==0.6.0
zope.annotation==4.4.1
zope.app.appsetup==4.0.0
zope.app.publication==4.2.0
zope.app.wsgi==4.0.0
zope.authentication==4.2.1
zope.browser==2.1.0
zope.browserpage==4.1.0
zope.browserresource==4.1.0
zope.cachedescriptors==4.2.0
zope.catalog==4.1.0
zope.component==4.3.0
zope.configuration==4.0.3
zope.container==4.1.0
zope.contentprovider==4.0.0
zope.contenttype==4.2.0
zope.datetime==4.1.0
zope.deprecation==4.2.0
zope.dottedname==4.1.0
zope.error==4.3.0
zope.event==4.2.0
zope.exceptions==4.0.8
zope.filerepresentation==4.1.0
zope.formlib==4.3.0
zope.i18n==4.1.0
zope.i18nmessageid==4.0.3
zope.index==4.2.0
zope.interface==4.3.3
zope.intid==4.2.0
zope.keyreference==4.1.0
zope.lifecycleevent==4.1.0
zope.location==4.0.3
zope.login==2.0.0
zope.minmax==2.1.0
zope.pagetemplate==4.2.1
zope.password==4.2.0
zope.principalregistry==4.0.0
zope.processlifetime==2.1.0
zope.proxy==4.2.0
zope.ptresource==4.0.0
zope.publisher==4.3.0
zope.schema==4.4.2
zope.security==4.0.3
zope.securitypolicy==4.1.0
zope.session==4.1.0
zope.site==4.0.0
zope.size==4.1.0
zope.tal==4.2.0
zope.tales==4.1.1
zope.testbrowser==5.2
zope.testing==4.6.1
zope.traversing==4.1.0
zope.viewlet==4.0.0
