{% load staticfiles %}
    <!-- ============================================================= Header Logo ============================================================= -->
    <div class="header-logo">
        <a href="{% url 'ecommerce:home' %}" class="header-logo-link">
            <img src="{% static 'ecommerce/platform_images/online-shop-png.png' %}" style=" width: 40%; height: auto; " />
        </a>
    </div>
    <!-- ============================================================= Header Logo : End============================================================= -->
